.playlist {
    width: 30%;
    background-color: rgb(39, 13, 65);
    opacity: 0.5;
    margin: 5%;
}

.button_save {
    font-size: 10px;
    border-radius: 10px;
    padding: 8px;
    width: 50%;
    text-transform: uppercase;
    background-color: rgb(102, 37, 167);
    color: #fff;
}

.button_save:hover {
    background-color: rgb(39, 13, 65);
}
